.signup-wrapper{
    width: 70%;
    max-width: 400px;
    height: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.p-login{
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 0.8rem;
    cursor: pointer;
}